{% extends 'returns/base-thistory.html' %}
{% block title_block %} {{ account.name }} (#{{ account.id }}){% endblock title_block %}
{% block add_body_block %}
<h1> {{ account.name }} &ensp; <a class="btn btn-default btn-sm" href="{% url 'returns:account_edit' account_id=account.id %}" role="button"><span class="glyphicon glyphicon-pencil"></span></a> &ensp; <a class="btn btn-default btn-sm" href="{% url 'returns:account_refresh' account_id=account.id %}" role="button"><span class="glyphicon glyphicon-refresh"></span></a></h1>

<p><strong>Account ID: </strong>{{ account.id }}
{% endblock add_body_block%}
