{% extends 'returns/base.html' %}

{% block preheader_block %}
{% if segPerf or chart_asset_history %}
{% load nvd3_tags %}
{% endif %}
{% endblock preheader_block%}

{% block header_block%}

{% load staticfiles %}

{% if segPerf or chart_asset_history %}
<link rel="stylesheet" type="text/css" href="{% static 'returns/css/nv.d3.min.css'%}"/>
<script type="text/javascript" src="{% static 'returns/js/d3.min.js'%} "></script>
<script type="text/javascript" src="{% static 'returns/js/nv.d3.min.js'%} "></script>

{% if segPerf %}

{% load_chart chart_asset_alloc.charttype chart_asset_alloc.chartdata chart_asset_alloc.chartcontainer chart_asset_alloc.extra %}
{% load_chart chart_asset_perf.charttype chart_asset_perf.chartdata chart_asset_perf.chartcontainer chart_asset_perf.extra %}

{% endif %}

{% if chart_asset_history %}

{% load_chart chart_asset_history.charttype chart_asset_history.chartdata chart_asset_history.chartcontainer chart_asset_history.extra %}

{% endif %}
{% endif %}

{% load djmoney %}

{% block add_header_block %}{% endblock add_header_block%}
{% endblock header_block%}

{% block body_block%}
{% block add_body_block%} {% endblock add_body_block%}

<h2>Financial performance</h2>
<p><strong>Return:</strong> {{ returns|floatformat:1 }}% (<a href="{% url 'returns:inflation_latest' %}">Inflation</a>: {{ inflation|floatformat:1 }}%)</p>

<p><strong>Total:</strong> {{ total }}
{% if cur_num %} (<strong>&#35;</strong> {{ cur_num }} ){% endif %}</p>

{% if segPerf %}
<h2><a href="#" onclick="toggle_visibility('seg-perf-div');">Segments performance</a></h2>
<div id="seg-perf-div" style="display:none">
<table class="table table-condensed" id="seg_perf">
<thead>
  <tr>
    <th></th>
    <th>YTD return</th>
    <th>Last year return</th>
    <th>Overall return</th>
    <th>Total value</th>
    <th>Of total</th>
  </tr>
</thead>
<tbody>
{% for key, items in segPerf.items %}
  <tr>
    <th class="row">{{ key }}</th>
    <td class="text-right">{{ items.rYTD|floatformat:1 }}%</td>
    <td class="text-right">{{ items.r1Y|floatformat:1 }}%</td>
    <td class="text-right">{{ items.rInfY|floatformat:1 }}%</td>
    <td class="text-right">{{ items.tYTD }}</td>
    <td class="text-right">{{ items.frac|floatformat:1 }}%</td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>

{% include_container chart_asset_perf.chartcontainer 450 '100%' %}
{% include_container chart_asset_alloc.chartcontainer 450 450 %}
{% endif %}

{% if histPerf %}
<h2><a href="#" onclick="toggle_visibility('hist-perf-div');">Historical performance</a></h2>
<div id="hist-perf-div" style="display:block">
<table id="hist_perf" class="table table-condensed">
<thead>
  <tr>
    <th>Time span</th>
    <th>Initial value</th>
    <th>Annualized return</th>
    <th>Inflation</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>YTD</td>
    <td class="text-right">{{ histPerf.iYTD }}</td>
    <td class="text-right">{{ histPerf.rYTD|floatformat:1 }}%</td>
    <td class="text-right">{{ histPerf.inYTD|floatformat:1 }}%</td>
  </tr>
  <tr>
    <td>Last year</td>
    <td class="text-right">{{ histPerf.i1Y }}</td>
    <td class="text-right">{{ histPerf.r1Y|floatformat:1 }}%</td>
    <td class="text-right">{{ histPerf.in1Y|floatformat:1 }}%</td>
  </tr>
  <tr>
    <td>Last 5 years</td>
    <td class="text-right">{{ histPerf.i5Y }}</td>
    <td class="text-right">{{ histPerf.r5Y|floatformat:1 }}%</td>
    <td class="text-right">{{ histPerf.in5Y|floatformat:1 }}%</td>
  </tr>
  <tr>
    <td>Overall</td>
    <td class="text-right">{{ histPerf.iInfY }}</td>
    <td class="text-right">{{ histPerf.rInfY|floatformat:1 }}%</td>
    <td class="text-right">{{ histPerf.inInfY|floatformat:1 }}%</td>
  </tr>
</tbody>
</table>
</div>
{% endif %}

{% if chart_asset_history %}
{% include_container chart_asset_history.chartcontainer 450 '100%' %}
{% endif %}

{% if transaction_list %}
<h2><a href="#" onclick="toggle_visibility('transactions-list-div');">Transaction history</a></h2>
{% include "returns/t-history.html" %}
{% endif %}
{% endblock body_block%}
