<!DOCTYPE html>
<html>
  {% block preheader_block%}{% endblock %} 
  <head>
    <title>Investments -{% block title_block%} {% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'returns/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'returns/css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'returns/css/returns.css' %}"/>
    <script type="text/javascript" src="{% static 'returns/js/jquery-2.2.1.min.js' %}"></script>
    {% block header_block %}{% endblock %}

    <script language="javascript">

      function toggle_visibility(id) {
      var e = document.getElementById(id);
      if (e.style.display == "block")
      e.style.display = "none";
      else 
      e.style.display = "block";
      }
    </script>
  </head>
 <body>
   <div class="container">
     <div class="page-header">
       <h1><a href="/">Finance portal</a></h1>
     </div>
     <div id="nav-bar">
       {% if user.is_authenticated %}
       <ul>
	 <li class="topmenu">
	   <a href="{% url 'returns:index' %}" style="width: 40px;"><span class="glyphicon glyphicon-home"></span></a>
	 </li>
	 <li class="topmenu">
	   <a href=""><span class="glyphicon glyphicon-plus-sign"></span></a>
	   <ul>
	     <li class="submenu"><a href="{% url 'returns:add_hist_data' %}">Add market data</a></li>
	     <li class="submenu"><a href="{% url 'returns:transaction_new' %}">Add transaction</a></li>
	     <li class="submenu"><a href="{% url 'returns:security_new' %}">Add security</a></li>
	     <li class="submenu"><a href="{% url 'returns:account_new' %}">Add account</a></li>
	     <li class="submenu"><a href="{% url 'returns:inflation_new' %}">Add inflation data</a></li>
	   </ul>
	 </li>
	 <li class="topmenu">
	   <a href=""><span class="glyphicon glyphicon-stats"></span></a>
	   <ul>
	     <li class="submenu"><a href="{% url 'returns:all_accounts' %}">All</a></li>
	     <li class="submenu"><a href="{% url 'returns:timeperiod' %}">Restricted</a></li>
	   </ul>
	 </li>
	 <li class="topmenu">
	   <a href="{% url 'logout' %}?next=/" style="width: 40px;"><span class="glyphicon glyphicon-log-out"></span></a>
	 </li>
       </ul>
       {% else %}
       <a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span></a>       
       {% endif %}
     </div>
     <div class="content">
       {% block body_block%}{% endblock %}
     </div>
     <div class="footer">
       <small>&#169; 2016-{% now "Y" %} - A. Wechsung</small>
     </div>
   </div>
 </body>
</html>
