{% extends 'returns/base.html' %}

{% block preheader_block %}
{% if segPerf or chart_asset_history %}
{% load nvd3_tags %}
{% endif %}
{% endblock preheader_block%}

{% block header_block%}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'returns/css/jquery-tablesorter/theme.bootstrap.css'%}"/>

<script type="text/javascript" src="{% static 'returns/js/jquery.tablesorter.js'%} "></script>
<script type="text/javascript" src="{% static 'returns/js/jquery.tablesorter.widgets.js'%} "></script>
<script type="text/javascript" src="{% static 'returns/js/jquery.tablesorter.widgets/widget-alignChar.js'%} "></script>

{% if segPerf or chart_asset_history %}
<link rel="stylesheet" type="text/css" href="{% static 'returns/css/nv.d3.min.css'%}"/>
<script type="text/javascript" src="{% static 'returns/js/d3.min.js'%} "></script>
<script type="text/javascript" src="{% static 'returns/js/nv.d3.min.js'%} "></script>

{% if segPerf %}

{% load_chart chart_asset_alloc.charttype chart_asset_alloc.chartdata chart_asset_alloc.chartcontainer chart_asset_alloc.extra %}
{% load_chart chart_asset_perf.charttype chart_asset_perf.chartdata chart_asset_perf.chartcontainer chart_asset_perf.extra %}

{% endif %}

{% if chart_asset_history %}

{% load_chart chart_asset_history.charttype chart_asset_history.chartdata chart_asset_history.chartcontainer chart_asset_history.extra %}

{% endif %}
{% endif %}
<script language="javascript">
$(document).ready(function()
  {
    $("#seg_perf").tablesorter(
      {
        headerTemplate: '{content} {icon}',
        widgets: ['zebra', 'uitheme', 'alignChar'],
        theme: 'bootstrap'
      });
    $("#hist_perf").tablesorter(
      {
        headerTemplate: '{content} {icon}',
        widgets: ['zebra', 'uitheme', 'alignChar'],
        theme: 'bootstrap'
      });
    $("#transaction_history").tablesorter(
      {
        headerTemplate: '{content} {icon}',
        dateFormat: 'mmddyyyy',
        widgets: ['zebra', 'uitheme', 'alignChar'],
        theme: 'bootstrap'
      });
  }
);
</script>

<style>
/* CSS needed for this widget */
.ts-align-wrap {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.ts-align-wrap, .ts-align-left, .ts-align-right {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ts-align-left {
  text-align:right;
}
.ts-align-right {
  text-align:left;
}
</style>

{% load djmoney %}

{% block add_header_block %}{% endblock add_header_block%}
{% endblock header_block%}

{% block body_block%}
{% block add_body_block%} {% endblock add_body_block%}

<h2>Financial performance</h2>
{% if errorReturns == '' %}
<p><strong>Return:</strong> {{ returns|floatformat:2 }}%  {% if errorInflation == '' %} (<a href="{% url 'returns:inflation_latest' %}">Inflation</a>: {{ inflation|floatformat:2 }}%) {% endif %}</p>
{% else %}
<p class="errorlist">ERROR: {{ errorReturns }}</p>
{% endif %}

<p><strong>Total:</strong> EUR {{ total }}
{% if cur_num %} (<strong>&#35;</strong> {{ cur_num }} ){% endif %}</p>

{% if segPerf %}
<h2><a href="#" onclick="toggle_visibility('seg_perf_div');">Segments performance</a></h2>
<div id="seg_perf_div" style="display:none">
<table id="seg_perf">
<thead>
  <tr>
    <th></th>
    <th data-align-char="." data-align-adjust="10">YTD return</th>
    <th data-align-char="." data-align-adjust="10">Last year return</th>
    <th data-align-char="." data-align-adjust="10">Overall return</th>
    <th data-align-char="." data-align-adjust="10">Total value (&euro;)</th>
    <th data-align-char="." data-align-adjust="10">Total value (&#37;)</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Tagesgeld</td>
    <td>{{ segPerf.pTG.rYTD|floatformat:2 }}%</td>
    <td>{{ segPerf.pTG.r1Y|floatformat:2 }}%</td>
    <td>{{ segPerf.pTG.rInfY|floatformat:2 }}%</td>
    <td>{{ segPerf.pTG.tYTD }}</td>
    <td>{{ segPerf.pTG.frac|floatformat:2 }}%</td>
  </tr>
  <tr>
    <td>Aktien</td>
    <td>{{ segPerf.pAK.rYTD|floatformat:2 }}%</td>
    <td>{{ segPerf.pAK.r1Y|floatformat:2 }}%</td>
    <td>{{ segPerf.pAK.rInfY|floatformat:2 }}%</td>
    <td>{{ segPerf.pAK.tYTD }}</td>
    <td>{{ segPerf.pAK.frac|floatformat:2 }}%</td>
  </tr>
  <tr>
    <td>Aktien-Fonds</td>
    <td>{{ segPerf.pAF.rYTD|floatformat:2 }}%</td>
    <td>{{ segPerf.pAF.r1Y|floatformat:2 }}%</td>
    <td>{{ segPerf.pAF.rInfY|floatformat:2 }}%</td>
    <td>{{ segPerf.pAF.tYTD }}</td>
    <td>{{ segPerf.pAF.frac|floatformat:2 }}%</td>
  </tr>
  <tr>
    <td>Bonds</td>
    <td>{{ segPerf.pBD.rYTD|floatformat:2 }}%</td>
    <td>{{ segPerf.pBD.r1Y|floatformat:2 }}%</td>
    <td>{{ segPerf.pBD.rInfY|floatformat:2 }}%</td>
    <td>{{ segPerf.pBD.tYTD }}</td>
    <td>{{ segPerf.pBD.frac|floatformat:2 }}%</td>
  </tr>
  <tr>
    <td>Bonds-Fonds</td>
    <td>{{ segPerf.pBF.rYTD|floatformat:2 }}%</td>
    <td>{{ segPerf.pBF.r1Y|floatformat:2 }}%</td>
    <td>{{ segPerf.pBF.rInfY|floatformat:2 }}%</td>
    <td>{{ segPerf.pBF.tYTD }}</td>
    <td>{{ segPerf.pBF.frac|floatformat:2 }}%</td>
  </tr>
  <tr>
    <td>Altersvorsorge</td>
    <td>{{ segPerf.pAV.rYTD|floatformat:2 }}%</td>
    <td>{{ segPerf.pAV.r1Y|floatformat:2 }}%</td>
    <td>{{ segPerf.pAV.rInfY|floatformat:2 }}%</td>
    <td>{{ segPerf.pAV.tYTD }}</td>
    <td>{{ segPerf.pAV.frac|floatformat:2 }}%</td>
  </tr>
</tbody>
</table>
</div>

{% include_container chart_asset_perf.chartcontainer 450 '100%' %}
{% include_container chart_asset_alloc.chartcontainer 450 450 %}
{% endif %}

{% if histPerf %}
<h2><a href="#" onclick="toggle_visibility('hist_perf_div');">Historical performance</a></h2>
<div id="hist_perf_div" style="display:block">
<table id="hist_perf">
<thead>
  <tr>
    <th>Time span</th>
    <th data-align-char="." data-align-adjust="05">Initial value (&euro;)</th>
    <th data-align-char="." data-align-adjust="10">Annualized return</th>
    <th data-align-char="." data-align-adjust="10">Inflation</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>YTD</td>
    <td>{{ histPerf.iYTD }}</td>
    <td>{{ histPerf.rYTD|floatformat:2 }}%</td>
    <td>{{ histPerf.inYTD|floatformat:2 }}%</td>
  </tr>
  <tr>
    <td>Last year</td>
    <td>{{ histPerf.i1Y }}</td>
    <td>{{ histPerf.r1Y|floatformat:2 }}%</td>
    <td>{{ histPerf.in1Y|floatformat:2 }}%</td>
  </tr>
  <tr>
    <td>Last 5 years</td>
    <td>{{ histPerf.i5Y }}</td>
    <td>{{ histPerf.r5Y|floatformat:2 }}%</td>
    <td>{{ histPerf.in5Y|floatformat:2 }}%</td>
  </tr>
  <tr>
    <td>Overall</td>
    <td>{{ histPerf.iInfY }}</td>
    <td>{{ histPerf.rInfY|floatformat:2 }}%</td>
    <td>{{ histPerf.inInfY|floatformat:2 }}%</td>
  </tr>
</tbody>
</table>
</div>
{% endif %}

{% if chart_asset_history %}
{% include_container chart_asset_history.chartcontainer 450 '100%' %}
{% endif %}


{% if transaction_history %}
<h2><a href="#" onclick="toggle_visibility('transaction_history_div');">Transaction history</a></h2>
<div id="transaction_history_div" style="display:block">
<table id="transaction_history" class="table-sorter">
<thead>
  <tr>
    <th>Date</th>
    <th>Kind</th>
    <th>Name</th>
    <th data-align-char="." data-align-adjust="10">Cashflow (&euro;)</th>
    <th data-align-char="." data-align-adjust="20">Expenses (&euro;)</th>
    <th data-align-char="." data-align-adjust="20">Tax (&euro;)</th>
    <th>Details</th>
  </tr>
</thead>
<tbody>
  {% for t in transaction_history %}
  <tr>
    <td>{{ t.tdate }}</td>
    <td>{{ t.kind }}</td>    
    <td><a href="{% url 'returns:security' t.security_id %}">{{ t.security_name }}</a></td>
    <td>{{ t.cashflow }}</td>
    <td>{{ t.expense }}</td>
    <td>{{ t.tax }}</td> 
    <td><a href="{% url 'returns:transaction' t.id %}"><span class="glyphicon glyphicon-info-sign"></span></a>&ensp;<a href="{% url 'returns:transaction_edit' transaction_id=t.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endif %}
{% endblock body_block%}
