{% extends 'returns/base.html' %}

{% block preheader_block %}
{% load finance_filters %}
{% endblock preheader_block%}

{% block header_block %}
<script type="text/javascript">
$(".clickable").click(function() {
    var id = $(this).attr('id');
    var target = '#'+id+'collapsed';

    if($(target).hasClass("out")) {
        $(target).removeClass("out");
    } else {
        $(target).addClass("out");
});</script>
{% endblock %}

{% block title_block %} Main {% endblock title_block %}
{% block body_block %}
<h1>Overview</h1>
{% if account_list %}
<h2><a href="#" onclick="toggle_visibility('seg_account');">Accounts</a><button type="button" data-toggle="collapse" data-target=".acc_zero" class="btn btn-default btn-sm pull-right">Toggle inactive</button></h2>
<div id="seg_account" style="display:block">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th></th>
	<th>Value</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      {% for account in account_list %}
      {% if account_inactive|lookup:account.id == True %}
      <tr class="collapse acc_zero out">
      {% else %}
      <tr>
      {% endif %}
        <th scope="row"><a href="{% url 'returns:account' account.id %}">{{ account.name }}</a></th>
        <td class="text-right">{{ account_values|lookup:account.id }}</td>
        <td><a href="{% url 'returns:account_edit' account_id=account.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
      </tr>
      {% endfor %}
      <tr>
        <th scope="row">Total</th>
        <td class="text-right">{{ account_total }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{% endif %}

{% if security_list %}
<h2><a href="#"
onclick="toggle_visibility('seg_investments');">Investments</a><button type="button" data-toggle="collapse" data-target=".sec_zero" class="btn btn-default btn-sm pull-right">Toggle inactive</button></h2>
<div id="seg_investments" style="display:block">
  <table class="table table-condensed">
    <thead>
      <tr>
	<th></th>
        <th>Kind</th>
        <th>Description</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {% for security in security_list %}
      {% if security_inactive|lookup:security.id == True %}
      <tr class="collapse sec_zero out">
      {% else %}
      <tr>
      {% endif %}
        <th scope="row"><a href="{% url 'returns:security' security.id %}">{{ security.name }}</a></th>
        <td>{{ security.get_kind_display }}</td>
        <td>{{ security.descrip }}</td>
        <td class="text-right">{{ security_values|lookup:security.id }}</td>
	<td><a href="{% url 'returns:security_edit' security_id=security.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if transaction_list %}
<h2><a href="#" onclick="toggle_visibility('transactions-list-div');">Recent Transactions</a></h2>
{% include "returns/t-history.html" %}
{% else %}
  <p>No transactions available.</p>
{% endif %}

{% endblock body_block %}
