{% extends 'returns/base-thistory.html' %}

{% block add_body_block %}

<h1>Security {{ security.id }} details</h1> 

<p><strong>Name: </strong>{{ security.name }}&ensp;<a href="{% url 'returns:security_edit' security_id=security.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
{% if security.accumulate_interest == True and security.calc_interest > 0.0 %}&ensp;<a href="{% url 'returns:add_interest' security_id=security.id %}"><span class="glyphicon glyphicon-signal"></span></a>
{% endif %}
<br />
{{ security.descrip }}
</p>

{% if security.mark_to_market == True %}
<p>Priced at market value.</p>
{% endif %}

{% if security.accumulate_interest == True %}
<p>Accumulates interest.</p>
{% if security.calc_interest > 0.0 %}
<p>Fixed interest rate: {{ security.calc_interest }}%</p>
{% endif %}
{% endif %}

{% endblock add_body_block%}
