{% extends 'returns/base-thistory.html' %}
{% block title_block %} {{ security.name }} (#{{ security.id }}){% endblock title_block %}
{% block add_body_block %}

<h1>Security {{ security.name }} &ensp; <a class="btn btn-default btn-sm" href="{% url 'returns:security_edit' security_id=security.id %}" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
{% if security.accumulate_interest == True and security.calc_interest > 0.0 %}&ensp;<a class="btn btn-default btn-sm" href="{% url 'returns:add_interest' security_id=security.id %}" role="button"><span class="glyphicon glyphicon-signal"></span></a>
{% endif %}&ensp;<a class="btn btn-default btn-sm" href="{% url 'returns:security_refresh' security_id=security.id %}" role="button"><span class="glyphicon glyphicon-refresh"></span></a></h1> 

<p><strong>Security ID: </strong>{{ security.id }}
<br />
{{ security.descrip }}
</p>

{% if security.mark_to_market == True %}
<p>Priced at market value.</p>
{% endif %}

{% if security.accumulate_interest == True %}
<p>Accumulates interest.</p>
{% if security.calc_interest > 0.0 %}
<p>Fixed interest rate: {{ security.calc_interest }}%</p>
{% endif %}
{% endif %}

{% endblock add_body_block%}
