{% extends 'returns/base-thistory.html' %}
{% block title_block %} Restricted timeperiod {% endblock title_block %}
{% block add_body_block %}
<h1>Restricted timeperiod</h1>

{% if accounts %}
<h2>Accounts</h2>
<ul>
{% for a in accounts %}
<li><a href="{% url 'returns:account' a.id %}">{{ a.name }}</a></li>
{% endfor %}
</ul>
{% else %}
{% if securities %}
<h2>Securities</h2>
<ul>
{% for s in securities %}
<li><a href="{% url 'returns:security' s.id %}">{{ s.name }}</a>: {{ s.descrip }} </li>
{% endfor %}
</ul>
{% endif %}
{% endif %}
{% if beginDate %}
<h2>Time range</h2>
<p>{{ beginDate }} through {{ endDate }}</p>
{% endif %}
{% endblock add_body_block%}
