{% extends 'returns/base.html' %}
{% block title_block %} Transaction #{{ transaction.id }}{% endblock title_block %}
{% block body_block %}
<h1>Transaction &ensp;<a class="btn
btn-default btn-sm" href="{% url 'returns:transaction_edit' transaction_id=transaction.id %}" role="button"><span class="glyphicon glyphicon-pencil"></span></a></h1>

<p><strong>Transaction ID: </strong>{{ transaction.id }}
<p><strong>Date: </strong>{{ transaction.date }}

<p><strong>Account: </strong><a href="{% url 'returns:account' transaction.account.id %}">{{ transaction.account.name }}</a>
<p><strong>Security: </strong><a href="{% url 'returns:security' transaction.security.id %}">{{ transaction.security.descrip }}</a> ({{ transaction.security.name }})</p>

<p>
{% if transaction.kind == "BU" %}
Buy{% if transaction.num_transacted > 0.0 %} {{ transaction.num_transacted|floatformat:3 }}{%endif %}:
{% endif %}
{% if transaction.kind == "SE" %}
Sell{% if transaction.num_transacted < 0.0 %} {{ transaction.num_transacted|floatformat:3 }}{%endif %}:
{% endif %}
{% if transaction.kind == "IN" %}
Interest payment:
{% endif %}
{% if transaction.kind == "DI" %}
Dividend payment:
{% endif %}
{% if transaction.kind == "WD" %}
Write down:
{% endif %}
{{ transaction.cashflow }}
</p>

{% if transaction.expenses > 0 %}
<p><strong>Expenses: </strong> {{ transaction.expenses }}</p>
{% endif %}
{% if transaction.tax > 0 %}
<p><strong>Tax: </strong> {{ transaction.tax }}</p>
{% endif %}

{% endblock body_block %}
