{% extends 'returns/base.html' %}
{% block title_block %} Edit transaction #{{ transaction.id }}{% endblock title_block %}
{% block header_block%}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'returns/css/jquery-ui.css' %}"/>
<script type="text/javascript" src="{% static 'returns/js/jquery-2.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'returns/js/jquery-ui.min.js' %}"></script>

<script>
$(document).ready(function() {
  $( ".datepicker" ).datepicker({
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 1,
  });
});
</script>
{% endblock header_block %}

{% block body_block %}
<h1>New / edit transaction</h1>
<form method="POST" class="post-form">
  {% csrf_token %}
  {{ form.as_p }}
  <p><label for="id_match">Company matches:</label> <select id="id_match" name="match">
    <option value="0">0&#37;</option>
    <option value="50">50&#37;</option>
    <option value="100">100&#37;</option>
  </select></p>
  <button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock body_block %}
