html,
body {
    margin:0;
    padding:0;
    height: 100%;
}

.page-header {
    background-color: #337AB7;
    margin: 0 0 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

#nav-bar {
    margin-top: 0;
    padding: 0px 0px 0px 0px;
    position: absolute;
}

#nav-bar ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0px;
    padding: 0px;
}

#nav-bar li.topmenu {
    float: left;
}

.topmenu a {
    float: left;
    width: 150px;
    text-align:center;
}

.topmenu ul {
    display:none;
}

.topmenu a, .submenu a {
    padding: 1px 5px;
    border: 1px solid #ffffff;
    border-collapse: collapse;
    text-decoration: none;
    background-color: #e0e0e0;
    margin: 0;
}

.submenu a {
    width: 150px;
    position: relative;
    clear: both;
}

#nav-bar a:hover,.topmenu.on a {
    color:#ffffff;
    background-color: #337AB7 !important;
}

.topmenu:hover ul {
    display:block;
    z-index:500;
}

.content {
    margin-left: 40px;
    padding: 10px;
    padding-bottom: 20px;
}

.container {
    min-height:100%;
    position: relative;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 20px;
    background-color: #e0e0e0;;
    text-align: center;
}

.errorlist {
    color: #FF0000;
}